.nome{
    margin: 1%;
}

.img{
    width: 12%;
    margin-bottom: 1%;
}

.collapse{
    margin-left: 7%;
}

.resto{
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title{
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text{
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
}